

nav {
	display: flex;
	width: 100vw;
	align-items: center;
}

nav img {
	width: 10%;
    height: 10%;
	margin: 2% 5% 0;
}

h1 {
	font: 700 4em "Dancing Script";
	text-align: center;
}

ul {
	display: flex;
	text-align: right;
	width: 90%;
	justify-content: right;
}
a {
	text-decoration: none;
}

nav li {
	list-style: none;
	font: 2em "Amatic Sc";
	margin-right: 5%;
}
